app = "trendoscope"
primary_region = "fra"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8003"

[http_service]
  internal_port = 8003
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256

